<div class="container_center">
  <div class="container_logo">
    <h1>Groupe d'infirmiers</h1>
    <%= button_to "ajouter un groupe", teams_path, {class: "btn-submit"} %>
    <% @teams.each do |team| %>
      <%= team.name %>
      <% @members.each do |member| %>
        <%= member.first_name %>
        <%= member.last_name %>
      <% end%>
    <% end%>
  </div>
</div>
