<div class="container-new-membership w-100 px-3">
  <h2 class="text-center">MEMBRES DE L'EQUIPE</h2>
  <% @memberships.each do |membership| %>
    <%= simple_form_for [@team, membership] do |f| %>
      <%= f.input :email,
                  placeholder: 'Email du participant',
                  :label => false %>
      <%= f.button :submit, "AJOUTER", class: "btn-add-membership" %>
     <% end %>
  <% end %>
