

.show-consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 23px;

  .card-consult{
    margin-bottom: 27px;
    margin-left: 0px;
    width: 300px;
    padding-bottom: 0px;
    padding-top: 0px;

    .card-consult-header img, svg {
      width: 60px;
      height: 60px;
    }


    .card-consult-header {
      background: #fff;
      display: flex;
      align-items: center;
      border-radius: 20px 20px 0px 0px;
      height: 100%;
   }
    i.fa-solid.fa-location-dot {
      color: $gray;
      font-size: 14px;
    }
    .info-adresse {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      margin-top: 3px;
    }
    .text-adresse {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      color: #7A7979;
      margin-left: 5px;
    }

    .text-date {
      color: $oxford-blue;
      font-size: 13px;
    }


  }

  #checkbox-custom{
    margin-bottom: 18px;
  }

  .btn-add-treatment{
    margin-top: 17px;
  }

  p {
    text-align: left;
    margin-top: 10px;
    color: $gray;
    margin-left: 10px;
  }

  .form-check{
    margin-top: 20px;
  }
  .top-note{
    h5{
      color: $oxford-blue;
    }
  }
}
