// Define variables for your color scheme

// Charte grapique couleurs Dahlia

$oxford-blue: #0B2545;
$gray: #7A7979;
$purpureus: #9052A1;
$pearly-purple: #C264BC;
$magnolia: #F4ECF7;
$background: #FAF6FA;
$card-white: #FFFFFF;

// Couleurs catégories

$hygiene: #CC7E85;
$injection: #FED766;
$prelevement: #0B2545;
$pansement: #009FB7;
$aide-domicile: #594236;
$medicament: #20BF8C;
$diabetique: #FFA62B;
$perfusion: #6F9CEB;

// Basic colors
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
