// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import "colors";

// Define fonts for body and headers
$body-font: "Mulish", "sans-serif";
$headers-font: "Mulish", "sans-serif";

.container-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 40px;
  font-family: $headers-font;
  color: white;
}

h2 {
  font-size: 30px;
  font-family: $headers-font;
  color: $rose;
}

h3 {
  font-size: 20px;
  font-family: $headers-font;
}


p {
  font-size: 12px;
  font-family: $body-font;
  color: $oxford-blue;
}
