// HOME PAGE CSS

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container_center {
  text-align: center;
  background-color: $rose;
  width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_image {
  margin-bottom: 10px;
}
