.container_center {
  text-align: center;
}

.container_logo {
  display: inline-block;
}

.logo_home {
  margin-top: 50%;
  width: 300px;
  border-radius: 50%;
  border: $magnolia 1px solid;
  overflow: hidden;
}
