.patient-show-main-container {

  .patient-show-container-top { //First tier of the page
    height: 30vh;

    .back-arrow img {
      margin-top: 10px;
      margin-left: 10px;
      width: 10px;
    }

    .patient-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;

      img {
        width: 120px;
        border-radius: 80%;
        margin-bottom: 10px;
      }

      .patient-first-name {
        font-style: italic;
        color: $grey-typo;
      }

      .patient-last-name {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: $grey-typo;
      }
    }
  }
  .patient-show-container-middle { // Second tier of the page
    padding-bottom: 10em;

    .nav {
      align-items: stretch;
      background-color: $dark-grey;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      // margin-bottom: -20px;
      height: 20px;
    }
    .nav-tabs .nav-link {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background-color: $dark-grey;
      color:$light-grey-typo;
      text-transform: uppercase;
    }

    .nav-tabs .nav-link.active {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background-color: white;
      color: $rose;
      border-bottom: 3px solid $rose;
    }

    #nav-profile {
      background-color: white;
    }

    .patient-profile-section {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .patient-profile-section-detail {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-bottom: 15px;
      align-items: start;
    }
    .patient-profile-section-detail-item {
      display: flex;
      align-items: baseline;
      i {
        padding-right: 30px;
        color: $rose;
        font-size: 16px;
      }
    }
    .bottom-link {
      text-align: center;
      background-color: $light-grey;
      a {
      text-decoration: underline;
      color: $light-grey-typo;
      font-size: 12px;
      }
    }

    hr {
      margin: 0;
    }
    // This is for the right-hand part (listing of consultations)
    .consultation-card-pink {
      background-color: $rose-femme;
      height: 74px;
      border-radius: 20px;
      margin: 12px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      margin-bottom: -16px;
      padding: 6px;

      .consultation-card-pink-date {
        font-weight: bold;
        font-size: 18px;
        color: $grey-typo;
      }
      .consultation-card-pink-text {
        font-size: 14px;
        color: $grey-typo;
        word-wrap: normal;

        img {
          width: 14px;
        }
      }
    }
}
}
