.container_new_patient {
  padding-top: 40px;
  padding-bottom: 40px;
}

.simple_form .new_patient {
  align-items: center;
}

.patient_gender {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #9e9e9e;
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  align-items: center;
}

.mb-3.date.optional.patient_birth_day {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #9e9e9e;
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  align-items: center;
}

.mb-3.date.optional.patient_birth_day select {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  font-size: 1rem;
  color: #9e9e9e;
}


select#patient_birth_day_3i {
  flex: 0.5;
}

select#patient_birth_day_2i {
  flex: 2;
}

select#patient_birth_day_1i {
  flex: 0.9;
}

fieldset.mb-3.radio_buttons.optional.patient_blood_type {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #9e9e9e;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 25px;
  align-items: center;
}
