.container-patient {
  display: flex;
  flex-direction: column;
  align-items: center;

  .position-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-consult{
    margin-top: 34px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    opacity: 0.8;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: $white;
    padding: 8px;
    width: 100%;
    height: 80px;
  }

  .tab-patient{
    margin-top: 20px;
  }

  .info-patient{
    margin-top: 30px;
  }

  .btn-submit{
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .last-consultations{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $oxford-blue;
  }
  h3{
    font-size: 16px;
  }

  .info-picto{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

  .fa-solid{
    margin-left: 10px;
    margin-right: 20px;
  }

  .info-picto-emergency{
    display: flex;
    align-items: baseline;
  }

  .proche-emergency{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 44px;
  }

  .doctor-emergency{
    margin-left: 44px;
  }


  .btn-afficher{
  height: 20px;
  background-color: $background;
  width: 80px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  display: grid;
  place-content: center;
  color: $purpureus;
  padding: 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: solid $purpureus;
  margin-left: 195px;
  margin-top: 20px;
  }
}
