<div class="container_index_consult m-3">
  <h4>Mes prochaines consultations</h4>
  <div data-controller="calendar">
    <div class="text-center mb-3">
      <button data-action="click->calendar#previous"><</button>
      <button data-action="click->calendar#today">Aujourd'hui</button>
      <button data-action="click->calendar#next">></button>
    </div>
    <div  id="calendar" data-calendar-target="myCalendar" data-action="click->calendar#myCustomEvent" style="height: 600px;">
    </div>
</div>
</div>
