<% if user_signed_in? %>
    <%= link_to consultations_path, data: {turbo_method: :get} do %>
      <div class="container_center">
        <div class="container_image">
          <%= image_tag "logo-blanc.svg" %>
        </div>
        <div class="container_title">
          <h1>Dahlia</h1>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= link_to  new_user_session_path, data: {turbo_method: :get} do %>
      <div class="container_center">
        <div class="container_image">
          <%= image_tag "logo-blanc.svg" %>
        </div>
        <div class="container_title">
          <h1>Dahlia</h1>
        </div>
      </div>
  <% end %>
<% end %>
