<div class="container-sm">

<h1 class="h2 my-3 d-flex justify-content-center">Patients du cabinet </h1>

<div data-controller="search-patients">
  <%= form_with url: patients_path,
    method: :get,
    html: {class: "mb-4", data: {search_patients_target: "form"}} do |f|
  %>
    <%= f.text_field :query,
      class: "form-control",
      placeholder: "Nom du patient",
      value: params[:query],
      data: {
        search_patients_target: "input",
        action: "keyup->search-patients#update"
      }
    %>
  <% end %>

  <%= render "list", patients: @patients %>

</div>
