.container-add-note{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
  h2{
    margin: 75px 0 45px 0px;
    font-family: $headers-font;

  }
  .btn-add{
    color: white;
    font-family: "Mulish", "sans-serif";
    border-color: #F28476;
    width: 159px;
    border-radius: 29px;
    background-color: #F28476;
    height: 61px;
    padding: 0px 15px 0px 15px;
    margin: 30px;
    margin-block: 65px;
    min-width: min-content;
    box-shadow: none;
  }
  .note_favorite{
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    align-items: center;
  }
  .input {
    background-color: white !important;
    height: 170px;
  }
  .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #7A7979 !important;
  }
  .was-validated .form-control:valid, .form-control.is-valid {
    border-color: #9E9E9E;
  }

}
