.btn-submit {
  color: white;
  background-color: #A75AA2;
  height: 37px;
  width: 256px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
}

.btn-submit:hover {
  background-color: #A75AA2;
  color: white;
  stroke: none;
}
