.btn-submit {
  color: white;
  background-color: $primary-button;
  height: 37px;
  width: 256px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-submit:hover {
  background-color: $primary-button;
  color: white;
  stroke: none;
}

.btn-add-treatment{
  color: $purpureus;
  background-color: white;
  height: 37px;
  width: 256px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-add-treatment:hover {
  background-color: white;
  color: $purpureus;
  stroke: none;
}

.btn-add{
  color: $oxford-blue;
  background-color: transparent;
  border: solid $oxford-blue;
  height: 37px;
  width: 256px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-add:hover {
  background-color: transparent;
  color: $oxford-blue;
  stroke: none;
}

.btn-create {
  height: 30px;
  background-color: $magnolia;
  width: 30px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  display: grid;
  place-content: center;
  color: $purpureus;
  padding: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-calendar {
  background-color: $magnolia;
  border-radius: 50px;
  font-weight: bold;
  display: grid;
  place-content: center;
  color: $purpureus;
  padding: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  left: 43px;
  top: 146px;
  margin-bottom: 20px;
  font-size: 40px;
}

.btn-create:hover {
  height: 30px;
  color: $purpureus;
  background-color: $magnolia;
  width: 30px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  display: grid;
  place-content: center;
  padding: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-tab {
  height: 38px;
  width: 132px;
  left: 0px;
  top: 0px;
  border-radius: 30px;
  background: #FFFFFF;
  color: $oxford-blue;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  font-family: "Mulish", "sans-serif";
  border-color: #F28476;
  width: 159px;
  border-radius: 29px;
  background-color: #F28476;
  height: 61px;
  padding: 0px 0px 0px 0px;
  margin: 20px;
}

.btn:hover {
  color: white;
  font-family: "Mulish", "sans-serif";
  border-color: #F28476;
  width: 159px;
  border-radius: 29px;
  background-color: #F28476;
  height: 61px;
  padding: 0px 0px 0px 0px;
  margin: 20px;
}
