.modal-confirmation-destroy {
  border: solid black;
  padding: 10px;
  width: 90%;
  margin: auto;
  background: white;
}

.close-modal {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  padding: 4px 8px 0px 0px;
  margin: 0px;
}

.message-confirmation-destroy p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}

.select-confirmation-destroy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
