.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  padding: 72px 10px 15px 10px;
  border: 1px solid #EAEAEA;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 35px;
}

.category-selector:checked + label {
  color: white !important;
}


.treatment_category + label {
  color: $grey-typo;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  border: solid 1px $grey !important;
  font-family: $headers-font;
}

#treatment_category_pansement + label {
  background-image: asset-url("soins/pansement.svg");
}

#treatment_category_diabétique + label {
  background-image: asset-url("soins/diabete.svg");
}

#treatment_category_injection + label {
  background-image: asset-url("soins/injection.svg");
}

#treatment_category_prélèvement + label {
  background-image: asset-url("soins/prelevement.svg");
}

#treatment_category_perfusion + label {
  background-image: asset-url("soins/perfusion.svg");
}

#treatment_category_hygiène + label {
  background-image: asset-url("soins/hygiene.svg");
}

#treatment_category_médicament + label {
  background-image: asset-url("soins/medicament.svg");
}

#treatment_category_aide_domicile + label {
  background-image: asset-url("soins/aide.svg");
}

#treatment_category_autre + label {
  background-image: asset-url("soins/autre.svg");
}

.treatment_category:checked + label {
  background-color: $grey-typo;
  color: white;
}

#treatment_content {
  text-align: center !important;
  height: 15vh !important;
  border-radius: 25px !important;
  font-size: 18px !important;
}
