// TAB BAR STYLE

#nav-menu {
  background-color: white !important;
  border-radius: 0% !important;
}

.nav_menu {
  position: fixed;
  bottom: 0;
  background-color: $background;
  box-shadow: 0 -1px 12px rgba($color: black, $alpha: 0.1);
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: .4s;

  .nav_list {
    display: flex;
    justify-content: space-around;
    list-style: none;

    .nav_item{
        img {
          height: 32px;
        }
    }
  }
}
