.tag-soins {
  height: 18px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 8px;
  margin-left: 4px;
}

.injection {
  background: $injection-background;
  color: $injection-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}


.pansement {
  background: $pansement-background;
  color: $pansement-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.prélèvement {
  background: $prelevement-background;
  color: $prelevement-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}


.hygiène {
  background: $hygiene-background;
  color: $hygiene-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

.perfusion {
  background: $perfusion-background;
  color: $perfusion-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}


.aide_domicile {
  background: $aide-background;
  color: $aide-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}


.médicament {
  background: $medicament-background;
  color: $medicament-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}


.diabétique {
  background: $diabete-background;
  color: $diabete-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}


.autre {
  background: $autre-background;
  color: $autre-font;
  border-radius: 10px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}
