.vague_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.navbar-brand img {
  width: 76px;
  border-radius: 50%;
  border: $magnolia 1px solid;
  position: absolute;
  right: 153px;
  top: 29px
}
